<div class="container">
  <h1>Assignment 10: Project Deployment</h1>
  <div class="description">Deploy the deploy-demo_depoly project to Github, Heroku and Firebase.</div>  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Angular test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/aspect']">Aspects</a>
      </div>
    </div>
  </nav>

  <app-aspects></app-aspects>
  <router-outlet></router-outlet>
</div>